/* GENERAL */
@import 'reset.css';

html {
  height: 100%;

  font-family: 'helvetica neue', sans-serif;
}

a {
  text-decoration: none;

  color: black;
}

input {
  outline: none;
}

.upper {
  text-transform: uppercase;
}

.hide {
  display: none!important;
}

.no-scroll {
  overflow: hidden;
}

/* END GENERAL */